<div class="row" infinite-scroll (scrolled)="onScrollDown()">
    <div class="col-xs-12 col-sm-6 col-md-4 my-3" *ngFor="let character of characters">
        <app-character [character]="character"></app-character>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 mt-5 container-notFound"
    *ngIf="characters.length <= 0">
        <p class="text-white">No results...</p>
    </div>
</div>
<p class="text-white text-center my-3">
    Developed by <a id="my-github" href="https://github.com/paulo-magls" target="_blank">paulo-magls</a>
</p>
<button 
[ngClass]="'no-hidden'"
*ngIf="showGoUpButton"
class="btn btn-dark"
(click)="onScrollTop()"
>
    Go UP
</button>